services:
  # The Database Service
  clinic-db:
    image: postgres:16
    container_name: clinic-db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: leongclinic
    volumes:
      # Named volume for DB data persistence
      - clinic_db_data:/var/lib/postgresql/data
    networks:
      - clinic-net

  # The App Service
  clinic-app:
    image: mulberrydunes/leong-clinic:2.3  # <--- Change this to update versions
    container_name: clinic-app
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=local
      - DATABASE_URL=postgresql://postgres:leongclinic@clinic-db:5432/postgres
    volumes:
      # HOST_PATH : CONTAINER_PATH
      # UPDATE THIS PATH for the specific computer you are deploying to
      - "/mnt/c/Users/filepath/to/attachment_uploads:/app/backend/uploads"
    depends_on:
      - clinic-db
    networks:
      - clinic-net

# Define the persistent volume for the DB
volumes:
  clinic_db_data:

# Define the network
networks:
  clinic-net: